/* src/components/ToggleBarButton/ToggleBarButton.css */
.toggle-bar-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100; /* Needs to be on top of everything */

  background: #ad7d9b;
  border: 3px solid #895674;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background 0.2s, transform 0.2s;
}

.toggle-bar-btn:hover {
  background: #c395b4;
  transform: translateY(-2px);
}

.toggle-bar-btn img {
  width: 28px;
  height: 28px;
  filter: brightness(150%) saturate(0%);
}