/* Make the app fill the viewport and remove default margins */
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: transparent; /* let your layout background show */
  font-family: Inter, sans-serif;
}
