.pageContainer {
    display: flex;
    min-height: 100vh;
    background: #E3BFD4;
    font-family: "Inter", sans-serif;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
}

.pageMain {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
}