.user-report-container {
  font-family: 'Inter', sans-serif;
  background: #F5D6E5;
  border-radius: 20px;
  box-shadow: 5px 5px 0 #895674;
  padding: 36px;
  max-width: 600px;
  margin: 0 auto;
  color: #823D6A;
  position: relative;
  border: 5px solid #895674;
}

.user-report-title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 24px;
}

.user-report-label {
  font-size: 1.6rem;
  margin-bottom: 24px;
  font-weight: 500;
}

.user-report-label-bold {
  font-weight: 700;
}

.user-report-dropdown {
  position: relative;
  margin-bottom: 34px;
}

.user-report-reason-btn {
  background: #946786;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 14px;
  border: none;
  padding: 10px 48px;
  cursor: pointer;
  outline: none;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-sizing: border-box;
  border: 4px solid #895674;
}

.user-report-dropdown-list {
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 346px;
  background: #AD7D9B;
  border: 4px solid #895674;
  border-radius: 16px;
  z-index: 10;
  margin-top: 8px;
  overflow: hidden;
}

.user-report-dropdown-selected {
  background: #875B76;
  padding: 8px 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #F2F2F2;
  text-align: center;
}

.user-report-dropdown-item {
  padding: 8px 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #F2F2F2;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.user-report-dropdown-item:hover {
  background-color: #9d6d8b;
}

.user-report-details-label {
  display: block;
  font-weight: 700;
  color: #AE81A6;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.user-report-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-report-textarea {
  width: 100%;
  border-radius: 14px;
  border: 5px solid #946786;
  padding: 20px;
  font-size: 1.25rem;
  resize: vertical;
  background: #fff;
  min-height: 120px;
  box-sizing: border-box;
  outline: none;
  color: #4D2041;
}

.user-report-submit-btn {
  margin-top: 16px;
  background: #946786;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 16px;
  border: none;
  padding: 10px 38px;
  cursor: pointer;
  box-shadow: 2px 2px 8px #ccb2c8;
  opacity: 0.8;
  z-index: 2;
  transition: opacity 0.15s;
}

.user-report-submit-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.user-report-submit-btn:hover:enabled {
  opacity: 1;
}